@import 'reset';
@import 'variables';
@import 'grid';

body {
   background-color: rgb(240, 240, 240);
}

.question {
   width: 100%;
   height: 100px;
   margin: auto;
   text-align: center;
   line-height: 100px;
   font-size: 30px;
   font-weight: bold;
}

.inline_c {
   display: inline-block;
}

.chatContent {
   width: 57.6%;
   height: 400px;
   margin: auto;
   background-color: white;
   border-color: rgb(224, 224, 224);
   border-width: 1px;
   border-style: solid;
   border-radius: 5px;
   padding: 15px;
}

.commentNumContainer {
   margin-bottom: 15px;
}

/*==============================================================*/
//commentContainer
.commentContainer {
   margin: 0 0 15px 0;
   padding: 0;
}

.commentContainer img {
   width: 45px;
   height: 45px;
   margin-top: 0;
   margin-right: 10px;
   padding: 0;
}

/*==============================================================*/
//commentStyle
.commentStyle{
   width: 660px;
}

.commentStyle h6 {
   font-size: 16px;
   font-family: sans-serif; 
   font-weight: bold;
   line-height: 16px; 
   margin-bottom: -15px;
}

.commentStyle p {
   font-size: 14px;
   font-family: sans-serif;
   line-height: 16px;
}

/*==============================================================*/
//formContainer
.formContainer {
   width: 60%;
   height: 80px;
   margin: auto;
   background-color: rgb(220, 220, 220);
   border-color: rgb(224, 224, 224);
   border-width: 1px;
   border-style: solid;
   border-radius: 5px;
}

.formContainer img{
   width: 50px;
   height: 50px;
   margin-top: 10px;
   margin-left: 15px;
   margin-bottom: 5px;
}

.usermsg_style { 
   margin-top: 11px;
   margin-left: 13px;
   width: 62%;
   border-color: rgb(224, 224, 224); 
   padding: 10px;
   font-size: 16px; 
   border-width: 1px; 
   border-style:solid; 
} 

/*==============================================================*/
//buttons
#buttons {
   float: right;
   margin-top: 15px;
   margin-right: 15px;
}

#buttons_2 {
   float: right;
   margin-top: 15px;
   margin-right: 15px;
}

.button_style {
   border-radius: 4px;
   color: white;
   font-size: 13px;
   background: #858585;
   padding: 5px 10px 6px 10px;
   text-decoration: none;
   border-width: 0;
   border-style: solid; 
}

.button_style:hover {
  background: #3cb0fd;
  text-decoration: none;
}

/*==============================================================*/
//modifyModal
#modifyModal {
   position: fixed;
   width: 100%;
   height: 100%;
   margin: 0 auto;
   top: 0;
   z-index: 100;
   background-color: rgba(0, 0, 0, 0.8);
}

.modalBox {
   width: 60%;
   height: 60%;
   margin: 110px auto;
   background-color: white;
   border-color: rgb(224, 224, 224);
   border-width: 1px;
   border-style: solid;
   border-radius: 5px;
   padding: 15px;
}

#usermsg_2_modify {
   margin-left: 20px;
   padding: 10px 30px 0px 0px;
   width: 90%;
   height: 40px;  
   border: none;
   border-bottom: 3px solid rgb(224, 224, 224);
   font-size: 20px; 
   line-height: 25px;
   text-decoration: none;
   resize: none;
}

#modifyText h4 {
   font-size: 22px;
   padding: 20px;
   font-weight: bold;
}

/*==============================================================*/
//buttons_3
#buttons_3 {
   float: right;
   margin-top: 15px;
   margin-right: 25px;
}

.button_style_white {
   border-radius: 4px;
   color: black;
   font-size: 15px;
   background: white;
   padding: 5px 10px 7px 10px;
   text-decoration: none;
   border-width: 1px; 
   border-color: rgb(150, 150, 150);
   border-style: solid;
}

.button_style_white:hover {
  background: #3cb0fd;
  text-decoration: none;
}

/*==============================================================*/
//textFoundContainer
.textFoundContainer {
   padding: 0 20px;
   margin: 0;
}

.textFoundContainer p {
   font-family: sans-serif;
   font-size: 18px;
   line-height: 36px;
}

.wordRank {
   margin-top: 10px;
   padding: 0;
}
.wordRank img {
   padding: 20px 0 0 20px;
   height: 13px;
}

.inline_t {
   display: inline-block;
}

#modifyText h5 {
   margin-top: 10px;
   padding: 20px;
   line-height: 25px;
   font-size: 18px;
}

